
html {
    width: 100%;
  }
  
  body {
    width: 100%;
    overflow-x: clip; /* modern, sticky-safe */
  }
  :root{
    --bg:#edf2ee;
    --primary:#0b3a2a;
    --text:#141414;
    --muted:#5b6b63;
  }
  
  *{box-sizing:border-box}
  html,body{margin:0;padding:0}
  
  body{
    font-family:'Inter',sans-serif;
    background:var(--bg);
    color:var(--text);
    padding-top: 72px; /* equal to nav height */
  }
  
  figure {
    margin: 0;
  }
  