/* ================= EXPERIENCE SECTION ================= */

.experience {

background: white;

padding: 100px 0;


}


/* ================= CONTAINER ================= */

.timeline {

position: relative;

max-width: 1000px;

margin: 0 auto;
z-index: 0;
}

.timeline-line {

position: absolute;

left: 50%;

top: 0;
bottom: 0;

width: 2px;


z-index: 0;

/* SIMPLE OPACITY GRADIENT ONLY */
background: linear-gradient(
to bottom,
rgba(99,102,241,0.7) 0%,
rgba(99,102,241,0.6) 20%,
rgba(99,102,241,0.5) 40%,
rgba(99,102,241,0.4) 60%,
rgba(99,102,241,0.2) 80%,
rgba(99,102,241,0.08) 100%
);

transform: translateX(-50%);



}
/* ================= CENTER LINE ================= */

/* .timeline::before {

content: "";

position: absolute;

left: 50%;

top: 0;
bottom: 0;

width: 2px;

background: #e2e8f0;

transform: translateX(-50%);

z-index: 1;

} */


/* ================= ITEM ================= */

.timeline-item {

position: relative;

width: 100%;

display: flex;

margin-bottom: 80px;

}


/* LEFT SIDE */

.timeline-item.left {

justify-content: flex-start;

}

.timeline-item.left .timeline-card {

width: calc(50% - 40px);

margin-right: auto;

text-align: left;

}


/* RIGHT SIDE */

.timeline-item.right {

justify-content: flex-end;

}

.timeline-item.right .timeline-card {

width: calc(50% - 40px);

margin-left: auto;

}


/* ================= DOT (PERFECT CENTER) ================= */

.timeline-dot {

position: absolute;

left: 50%;

top: 0px;

transform: translate(-50%, 0);

width: 18px;
height: 18px;

background: white;

border: 3px solid #6366f1;

border-radius: 50%;

z-index: 10;

box-shadow:
0 0 0 6px rgba(99,102,241,0.15);

display: flex;
align-items: center;
justify-content: center;
}

/* INNER CENTER DOT */

.timeline-dot::after {

content: "";

width: 6px;
height: 6px;

background: #6366f1;

border-radius: 50%;

}

/* ================= CARD ================= */

.timeline-card {

background: white;

padding: 26px;

border-radius: 14px;

border: 1px solid #e2e8f0;

transition: .3s;

position: relative;

z-index: 2;

}

.timeline-card:hover {

transform: translateY(-6px);

box-shadow:
0 20px 40px rgba(0,0,0,0.08);

}


/* ================= META ================= */

.timeline-meta {

display: flex;

justify-content: space-between;

font-size: 12px;

margin-bottom: 10px;

}

.timeline-date {

background: #eef2ff;

color: #6366f1;

padding: 4px 10px;

border-radius: 20px;

font-weight: 600;

}

.timeline-location {

color: #94a3b8;

}


/* ================= TEXT ================= */

.timeline-card h3 {

font-size: 18px;

margin-bottom: 6px;

}

.timeline-company {

color: #6366f1;

font-weight: 500;

margin-bottom: 10px;

}

.timeline-card p {

color: #64748b;

line-height: 1.6;

}